@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: rgb(248, 246, 243);
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Montserrat", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 45px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}

.img {
  height: 45px;
  width: 58px;
}

.brands {
  display: flex;
  align-items: center;
  font: bolder;
  font-size: 1.3rem;
}

.cointainer {
  height: 70vh;
  background-color: black;
  color: azure;
  margin: 23px auto;
  display: flex;
  flex-direction: column; /* NEW */
  align-items: flex-start; /* NEW */
  width: 70%;
  border-radius: 12px;
  padding: 20px;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom {
  position: sticky;
  height: 100px;
  background-color: black;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.icons {
  margin-top: 30px;
  font-size: 30px;
}

#progressBar {
  width: 80vw;
}

.icons i {
  cursor: pointer;
}

.songItem {
  display: flex;
  background-color: rgb(230, 195, 20);
  width: 150%;
  margin: 24px;
  color: black;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
}
.songItem img {
  height: 50px;
  margin-left: 0.5px;
  border-radius: 24px;
}

.timestamp {
  margin: 0 23px;
  cursor: pointer;
}
